apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "elasticsearch_endpoints": "https://localhost:9200",
      "kibana_endpoints": "https://localhost:5601",
      "insecure": "true",
      "username": "{{ username }}",
      "password": "{{ password }}"
    }
